<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aron.bordin" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NSac Mobile</name>
    <description>
        NSac Mobile
    </description>
    <author email="aron.bordin@gmail.com" href="https://github.com/aron-bordin">
        Aron Barreira Bordin
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="phonegap-version" value="3.1.0" />
    <gap:plugin name="org.apache.cordova.dialogs" />

   
</widget>
